.faq{
  padding: 5vw;
}

.faq-content{
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 3vw;
}

.caixa-pergunta div{
  display: flex;
  justify-content: space-around;
}

.caixa-pergunta input{
  width: 75%;
  border-radius: 15px;
  border: none;
  padding: 5px;
}

.caixa-pergunta button{
  cursor: pointer;
  padding: 5px;
  background-color: #4B94D8;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  width: 20%;
}