@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main{

}

h1 {
  font-size: clamp(24px, 3vw, 37px);
}

h2 {
  font-size: clamp(20px, 2.5vw, 30px);
}

h3 {
  font-size: clamp(18px, 2.1vw, 28px);
}

a,p {
  font-size: clamp(16px, 1.2vw, 26px);
}

