.produto{
  width: 100%;
  height: 70%;
  padding: 3vw;
}

.imagem-prod{
  width: 100%;
}

@media (min-width: 600px){
  .produto{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
  }
  .imagem-prod{
    width: 50%;
  }
}